body {
  margin: 0;
  padding: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  background-image: url('/Users/emirsakarcan/Desktop/Plant/plant/src/assets/plant.png');
  background-size: cover;
  background-repeat: no-repeat;
}